{% extends "admin/base.html" %}
{% load i18n static %}

{% block welcome-msg %}
    {% translate 'Welcome,' %}
    <strong>{% firstof user.get_full_name user.get_username %}</strong>.
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}" type="text/javascript"></script>
    {% include 'session_security/all.html' %}
    {# disable the “Are you sure you want to leave this page? warning #}
    <script type="text/javascript">
        sessionSecurity.confirmFormDiscard = undefined;
    </script>
{% endblock %}
